/*   SECCIÓN 1  */ 
/* Recuerda no modificar la BODY ni **/
/* RECUERDA QUE TUS CLASES DEBEN DE COMENZAR CON s1-nombre_clase*/
/****************************************************************/

.section-1{
    width: 100px;
    height: 100px;
    background-color: blue;
}