/*   SECCIÓN 3  */ 
/* Recuerda no modificar la BODY ni **/
/* RECUERDA QUE TUS CLASES DEBEN DE COMENZAR CON s3-nombre_clase*/

.container_3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
   
    width: 320px;
    height: 1356px;
    left: -0.45px;

    background: #F5F5F5;

    h1 {
        text-align: center;
    }


    .box_3 {
        display: flex;
        flex-direction: column;

    }

    .item1_3 {
        width: 250px;
        left: 49px;
        top: 2083px;
        background: #FFFFFF;
        box-shadow: 0px 28px 64px 12px;
        border-radius: 8px;
    }

    .item2_3 {
        width: 250px;
        left: 49px;
        top: 2083px;
        background: #FFFFFF;
        box-shadow: 0px 28px 64px 12px;
        border-radius: 8px;
    }

    .item3_3 {
        width: 250px;
        left: 49px;
        top: 2083px;
        background: #FFFFFF;
        box-shadow: 0px 28px 64px 12px;
        border-radius: 8px;
    }

    @media only screen and (min-width:768px) {
        .container_3{
            width: 768px;
            background: #F5F5F5;
        }
        .box_3 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    

         .item1_3 {
                padding: 1.25rem;

                img {
                    margin-top: -100px;
                }
            }

        .item2_3 {
                 padding: 1.25rem;

                img {
                        margin-top: -100px;
                    }
        }

         .item3_3 {
                     padding: 1.25rem;

                     img {
                            margin-top: -100px;
                        }
                    }
                
            }

        }