/*   SECCIÓN 4  */ 
/* Recuerda no modificar la BODY ni **/
/* RECUERDA QUE TUS CLASES DEBEN DE COMENZAR CON s4-nombre_clase*/

.cero_margin{
    margin: 0px;
}

.contactanos{
    display: flex;
    justify-content: center;
    
}

.description_contactanos{
    text-align: center;
}

// input{
//     background-color: black;
    
// }

.contact_description{
    height: 200px;
}

.contact_enviar{
    background: black;
    color: white;

    border-radius:.5rem;
}

.subcontainer_contact{
    margin: 45px;

    .contact_enviar{
        margin-top: 25px;
    }
}
.container_contactanos{
    background-image: url('../img/darius-soodmand-F8E2tks5N04-unsplash\ 1.png');
  
    opacity:85%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // margin: 0;
    // padding: 2rem;
    // padding-left: 10rem;
    // padding-right: 10rem;

    .title_contacta{
        text-align: center;
    }
}


@media (max-width:375px) and (min-width:320px) {
   .container_contactanos{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .contact_enviar{
       width: 288px;
       height: 45px;
       

   }
   .contact_description{
       width: 288px;
       height: 165px;
       opacity: 80%;
       background-color: black;
   }

   .contact_name{
       width: 288px;
       height: 40px;
       opacity:85%;
       background-color: black;

   }

   .contact_phone{
    width: 288px;
    height: 40px;
    opacity:85%;
    background-color: black;

    }

    .contact_email{
    width: 288px;
    height: 40px;
    opacity:85%;
    background-color: black;

    }

    .description_contactanos{
        padding: 30px;
       
       text-align: center;
    }
   
}

@media (max-width:425px) and (min-width:376px) {
    .container_contactanos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact_enviar{
        width: 383px;
        height: 45px;
        
 
    }
    .contact_description{
        width: 383px;
        height: 165px;
        opacity: 80%;
        background-color: black;
    }
 
    .contact_name{
        width: 383px;
        height: 40px;
        opacity:85%;
        background-color: black;
 
    }
 
    .contact_phone{
     width: 383px;
     height: 40px;
     opacity:85%;
     background-color: black;
 
     }
 
     .contact_email{
     width: 383px;
     height: 40px;
     opacity:85%;
     background-color: black;
 
     }
 
     .description_contactanos{
         padding: 30px;
        
        text-align: center;
     }
    
 }


 @media (max-width:768px) and (min-width:426px) {
    .container_contactanos{
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    .description_contactanos{
        margin: 30px;
    }

    .contact_description{
        width: 700px;
        opacity: 85%;
        background-color: black;
    }

    .contact_name{
        width: 700px;
        height: 40px;
        opacity:85%;
        background-color: black;
    }
 
    .contact_phone{
     width: 700px;
     height: 40px;
     opacity:85%;
     background-color: black;
 
     }
 
     .contact_email{
     width: 700px;
     height: 40px;
     opacity:85%;
     background-color: black;
 
     }

     .contact_enviar{
        width: 700px;
        height: 45px;
        
 
    }
}


@media (min-width:1024px){
    .contact_medium{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
    }
    .contact_phone{
        width: 224px;
        height: 36px;
        opacity: 85%;
        background-color: black;
    }

    .contact_email{
        width: 224px;
        height: 36px;
        opacity: 85%;
        background-color: black;
    }

    .contact_enviar{
        width: 464px;
        height: 32px;
        
    }

    .contact_name{
        width: 464px;
        opacity: 85%;
        background-color: black;
    }

    .container_name{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        .name_title{
            position: relative;
            bottom:40px;
            left: 70px;
        }
    }

    .container_description{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        margin-right: 55px;
        padding-top: 90px;

        

        .description_title{
            position: relative;
            bottom:40px;
            left: 120px;
        }
    }

    .contact_description{
        width: 464px;
        height: 148px;
        opacity: 85%;
        background-color: black;
    }

    .container_envio{
        display: flex;
        justify-content: center;
        margin-left: 55px;
    }

    .subcontainer_contact{
        padding-top: 20px;
    }

    .description_contactanos{
        margin-bottom: 40px;
    }
    
}